.myshow{
    vertical-align: middle;
}

#devices{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 300px;
}

#repair{
    padding-bottom: 20px;
    width: 300px;
}

.repair_number{
    font-weight: 600;
}


#documentation{
   margin: 5px 0 5px 0;
}
#documentation dl{
    margin: 0 0 0 0;
}
#documentation .zend_form dd,dt{
    display: inline;
}
#documentation .zend_form dd#description-element input#description{
    margin: 0 0 0 0;
    width:180px;
    display: inline;
}
#documentation .zend_form dd#file-element input#file{
    margin: 0 0 0 0;
    display: inline;
}

.repairs_info_block{
    margin-top: 5px;
    margin-bottom: 30px;
}
.main_spares_block {
 margin-bottom: 20px;
}
.main_spares_block p{
 font: bold 110% serif;
}
.main_spares_block .left_spares_block{
    width: 40%;
    float: left;
}

.main_spares_block .right_spares_block{
    width: 40%;
    margin-left: 45%;
}

.main_spares_block #spares_block{
 margin-bottom: 10px;
}

#spares_foto{
    width: 60px;
    height: 60px;
}
#spares_remain{
    width: 60px;
    vertical-align: mi
}
#spares_remain_check{
    width: 75px;
}

#spares_check{
    width: 60px;
}
#spares_check input{
    margin-left: 35%
}
#spares_row td{
    vertical-align: middle;
}

#spares_foto p img {
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 1%;
}

.error{
    background-color: #ECA7A7;
}
.message_in {
    display: none;
}
.error_message{
    display: inline;
    color: red;
}

.repair_data{
    width: 10%;
}
.repair_claim{
    width: 15%;
}
.repair_spares{
    width: 30%;
}
.repair_counter{
    width: auto;
}

.repair_stat_data{
    width: 10%;
}
.repair_stat_date{
    width: 16%;
}
.repair_data_row{
    width: 100%;
    float: left;
}
.repair_data_row #repair_row_h{
    float: left;
}
.repair_data_row #repair_row_a{
    float: left;
    margin-left: 20px;
    margin-top: 8px;
}

.history_but{
    float: left;
    margin-left: 5px;
}
.history_data{
    float: left;
    margin-left: 20px;
}
.stat_panel{
    width:100px;
}

.set_list_block{
    width: 50%;
    height: 24px;
}
.set_list_row_text{
    margin-left: 25px;
    width: 160px;
}
.set_list_row_checkbox{
    float: left;
    margin-left: 5px;
}
.ss1{
    width: 25%;
    height: 230px;
    float: left;
}

.ss2{
    margin-top: 5px;
}

.set_userdata_block input{
    width: 250px;
    margin-bottom: 5px;
} 
.set_userdata_block select{
    width: 250px;
    margin-bottom: 25px;
} 

.check_row{
    color: red;
}

/*---------Оформление. Общие стили---------*/
.support,
.support-two {
	display: inline-block;
	position: relative;
	text-decoration: none;
	cursor: pointer;
}
.support em,
.support-two em {
	background: #FF6600;
	border-radius: 20px;
	border: 1px solid #999;
	text-align: center;
	color: #FFF;
 	font: normal bold 16px Arial;
 	padding: 0 4px;
}
.tip,
.tip-two,
.tip-three { 
  	display: none;
  	position: absolute;
  	z-index: 9998;
  	top: 0;
  	left: 100%;
  	background: #EDEDED;
  	border-radius: 3px;
  	border: 1px solid #ccc;
  	box-shadow: 5px 5px 0.5em -0.1em rgba(0,0,6,0.5);
  	text-align: left;
  	color: #000;
  	font: normal 500 14px Arial, sans-serif;
  	opacity: .9; 
  	cursor: default;
  	padding: 5px;
  	margin: -15px 0 0 10px;
  	width: 200px;
  	min-height: 50px; 
 	height: auto;
}
.tip-two,
.tip-three { 
  	margin: -30px 0 0 0;
}
.tip:before,
.tip-two:before,
.tip-three:before {
 	border-width: 9px 8px 9px 0;
 	border-color: transparent #cccccc transparent transparent;
 	top: 13px;
 	left: -9px;
}
.tip:after,
.tip-two:after,
.tip-three:after {
 	border-width: 7px 7px 7px 0;
 	border-color: transparent #ededed transparent transparent;
 	top: 15px;
 	left: -7px;
}
.tip:before,
.tip-two:before,
.tip-three:before,
.tip:after,
.tip-two:after,
.tip-three:after {
 	content:"";
 	position:absolute;
 	width: 0px;
 	height: 0px;
 	border-style: solid;
}
a.support:focus em,
a.support-two:focus em,
#tip-checkbox:checked ~ .support em {
 	background: #6699FF;
}

.tip-block {
 	display: inline-block;
 	position: relative;
 	background: transparent;
 	margin: 0;
 	padding: 0;
 	border: 0;
 	height: 0;
 	width: 1px;
}

/*--------------Внутри тега 'A'------------*/

a.support:focus .tip {
	 display:block;
}
a.support[tabindex="1"]:focus {
	 outline: none;
}
/*---------------Непосредственно после тега 'A'----------------*/

a.support-two:focus + .tip-block .tip-two {
 	display:block;
}
a.support-two[tabindex="1"]:focus {
 	outline: none;
}

/*----------Использование тега 'INPUT'--------------*/

.tip-checkbox {
  	display: none;
}

#tip-checkbox:checked ~ * .tip-three {
    	display: block;
}

.tip-close {
 	display: inline-block;
  	position: absolute;
 	background: #333;
 	border-radius: 20px;
 	border: 2px solid #FFF;
 	top: -8px;
 	right: -8px;
 	font: normal bold 14px Comic Sans MS;
 	text-align: center;
 	color: #fff;
 	cursor: pointer;
 	padding: 0 4px;
}

/*---------При наведении--------------*/

.support-hover,
.support-hover-two {
 	display: inline-block;
 	position: relative;
 	color: #06C;
 	text-decoration: none;
 	cursor: pointer;
}
.support-hover em,
.support-hover-two em {
 	background: #FF6600;
 	border-radius: 20px;
 	border: 1px solid #999;
 	text-align: center;
 	color: #FFF;
 	font: normal bold 16px Arial;
 	padding: 0 4px;
}
a.support-hover:hover em,
a.support-hover-two:hover em {
 	background: #6699FF;
}
/*--------------Внутри тега 'A'------------*/

a.support-hover:hover .tip {
 	display:block;
}

/*---------------Непосредственно после 'A'----------------*/
a.support-hover-two:hover + .tip-block .tip-two {
 	display:block;
}


.shop_table{
 display: none;
}

.disp_none{
   display: none; 
}
